:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10vh;
}

#weather-data {
    display: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 60vh;
    padding: 10px;
    border: 2px solid white;
    border-radius: 25px;
}
